{% extends 'base.html.twig' %}
{% block body %}

<div class="swiper-container">

    <div class="swiper-slide">
        <div class="container-general wrap-effect-3">
            <div class="gallery-wrap ">
                <div class="gallery-wrap  wrap-effect-3">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
            </div>
        </div>
        </div>
        <p class="container" style="text-indent: 50px;">
        Fondé en 1984 par Gérard HELLER, le club de l’Entente Mulhousienne vous accueille dès l’âge de 3 ans pour pratiquer du handball.  Depuis 2000, le club s’est tourné vers du 100% féminin au coeur de Mulhouse. Situé à Mulhouse, nous vous accueillons dès l’âge de 3 ans pour pratiquer notre discipline, au niveau qui vous convient le mieux. En effet, à partir de la catégorie des -15 ans, nous proposons à nos licenciées d’évoluer en championnant départemental ou régional. Nous proposons du matériel et des ressources de qualité pour l’entraînement et la compétition. L’ensemble de nos coachs sont formés (ou en cours de formation) et sont capables de répondre à vos besoins.
        </p>
        <div class="swiper-slide">
          <div class="container-general wrap-effect-4">
            <div class="gallery-wrap">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
          </div>
        </div>
        <p class="container" style="text-indent: 50px;">
        Pour cette saison 2019-2020, nous avons décidé de signer une convention avec le Handball Club de Kingersheim pour mutualiser nos moyens et proposer des niveaux de jeux qui conviennent à tous !
        C’est pourquoi, nous avons une « équipe convention » en -11 ans, deux « équipes convention » en -13 ans, deux « équipes convention » en -15 ans, deux « équipes convention » en -18 ans ainsi qu’une équipe séniors qui évolue en National 3.
        Seules les -15 ans, les -18 ans ainsi que les Seniors N3 sont amenées à se déplacer à la salle Pierre de Courbertin à Kingersheim.
        Les autres catégories ont leur entrainement à la salle rue du fil de Mulhouse.
        </p>
        <p class="container" style="text-indent: 50px;">
        L’effectif du club est également composé de bénévoles qui s’activent tout au long de l’année lors d’événements locaux. Ces bénévoles sont des membres actifs non licenciés qui concourent régulièrement aux activités du club. Roland et Thierry sont donc en charge de la gestion des bénévoles lors de ces événements.
        </p>
        <hr>
        <p class="container">
        L’ensemble du club souhaite remercier chaleureusement nos partenaires et sponsors, sans qui, l’achat de matériel et des maillots pour la pratique de notre sport serait très compliquée. Si vous aussi vous souhaitez sponsoriser notre club, n’hésitez pas à nous contater via la rubrique Contact.
        </p>
      </div>
    </div>

{% endblock %}