{% extends 'base.html.twig' %}
{% block body %}
<div class="options container">
   <div id="BH"  class="option active" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/03/img_8340.jpg?w=574&h=&zoom=2);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-walking">BH</i>
         </div>
         <div class="info">
            <div class="main">BabyHand</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
   <div class="option" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/01/9-king.jpg);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-snowflake">9</i>
         </div>
         <div class="info">
            <div class="main">9 ans</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
   <div class="option" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/01/11-coach.jpg);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-tree">11</i>
         </div>
         <div class="info">
            <div class="main">11 ans</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
   <div class="option" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/01/13-bis.jpg);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-tint">13</i>
         </div>
         <div class="info">
            <div class="main">13 ans</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
   <div class="option" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/01/15-dep.jpeg);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-sun">15</i>
         </div>
         <div class="info">
            <div class="main">15 ans</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
   <div class="option" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/01/18-emk.jpg);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-snowflake">18</i>
         </div>
         <div class="info">
            <div class="main">18 ans</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
   <div class="option" style="--optionBackground:url(https://ententemulhousehandball.files.wordpress.com/2020/01/equipe-senior-avec-paul.jpg);">
      <div class="shadow"></div>
      <div class="label">
         <div class="icon">
            <i class="fas fa-snowflake">S</i>
         </div>
         <div class="info">
            <div class="main">Seniors</div>
            <div class="sub"></div>
         </div>
      </div>
   </div>
</div>


<header class="section-wrap header">
  <h1 class="title">Entente Mulhouse Kingersheim</h1>
</header>

<div class="wrapper">
  
 <div class="slider-wrap">
   <div class="slider current">
     <button class="index"><span>BabyHand</span></button>
     <figure class="img">
   Caroline Schmitt, diplômée pour encadrer la section Baby-Hand de l’Entente Mulhousienne, vous donne rendez-vous tous les samedis matins à la rue du fil pour accueillir vos enfants à partir de 3 ans. Dans une démarche de transmission des savoirs, Caroline est en binôme avec Jennifer, notre gardienne des -15 ans départemental.
     </figure>
   </div>
   <div class="slider current">
     <button class="index"><span>9 ans</span></button>
     <figure class="img">
       Nous avons deux équipes -9 ans qui sont essentiellement composées de licenciés de l’Entente Mulhousienne. Elena ISSILAME et Sabrina OULED DIAF encadrent l’effectif des -9 ans.
     </figure>
   </div>
   <div class="slider current">
     <button class="index"><span>11 ans</span></button>
     <figure class="img">
       Nous avons deux équipes -11 ans, l’une est composée essentiellement de licenciés de l’Entente Mulhousienne et l’autre est constituée de joueuses issues de la convention entre le HBCK et l’Entente Mulhousienne.
       Christine AHRENS, Samuel KELLER, Elise BELCASTRO et Mariam MOUSSAPOUR encadrent les deux effectifs.
     </figure>
   </div>
   <div class="slider current">
     <button class="index"><span>13 ans</span></button>
     <figure class="img">
        Le groupe -13 ans est constitué de joueuses issues de la convention entre le HBCK et l’Entente Mulhousienne.
        Les deux équipes évoluent dans le championnant départemental, l’une dans la Poule A et l’autre dans la Poule B.
        Elia ISSILAME, Natacha HELLER et Lakdar BECHLEM encadrent l’effectif des -13 ans.
     </figure>
   </div>
   <div class="slider current">
     <button class="index"><span>15 ans</span></button>
     <figure class="img">
        Le groupe -15 ans est constitué de joueuses issues de la convention entre le HBCK et l’Entente Mulhousienne.
        L’équipe évoluant en championnat départemental est encadrée par Angela CASTELLANO et Mickael KIECHEL.
        L’équipe évoluant en championnat régionnal est encadrée par Fatima BEN MESSAOUD et Christelle BECKERT.
     </figure>
   </div>
      <div class="slider current">
     <button class="index"><span>18 ans</span></button>
     <figure class="img">
        Le groupe -18 ans est constitué de joueuses issues de la convention entre le HBCK et l’Entente Mulhousienne.
        L’équipe évoluant en championnant régional est encadrée par Jessica MURA et Emmanuelle BIAVA.
        L’équipe évoluant en championnat de France est encadrée par Sahra OULED DIAF et Secondo ANDREINI.
     </figure>
   </div>
      <div class="slider current">
     <button class="index"><span>Seniors</span></button>
     <figure class="img">
        Encadrée par Paul MURA, l’équipe sénior de l’Entente Mulhousienne évolue en première division territoriale du Haut-Rhin.
        Suivez le classement de l’équipe « UNE » ici.
        Les entrainements se déroulent au gymnase rue du fil le mardi et jeudi de 20h à 22h !
     </figure>
   </div>
  </div>
  
</div>
    <script>

        let elements = document.querySelectorAll(".option");
        for (let i = 0; i < elements.length; i++) {
            let opt =elements[i];
            opt.onclick = function(){


                if(opt.className=='option')
                {
                    opt.className='option active';
                }else if(opt.className=='option active')
                {
                    opt.className='option';


                }
            };
        }
    </script>
{% endblock %}