@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {

  font-family: "Roboto Slab", serif;
  color: #000;
  margin: 0;
  padding: 0;
}

.heading {
  background: white;
  height: 5%;
  margin: 10px;
  padding: 10px;
}

.swiper-container .mainbody {

  height: 90%;

}

.swiper-container  {
  width: 80%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  

}

.swiper-slide {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-general {

  padding: 75px 0;
  margin: 0 auto;
  width:100%;

}
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.container-general .gallery-wrap .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item:hover {
  flex: 7;
}



.wrap-effect-3 .item:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item:first-of-type {
  background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/05/photo-2.jpg");
}
.wrap-effect-3 .item:nth-of-type(2) {
  background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/05/photo-3.jpg");
}
.wrap-effect-3 .item:nth-of-type(3) {
  background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/03/img_8340.jpg?w=574&h=&zoom=2");
}
.wrap-effect-3 .item:nth-of-type(4) {
  background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/01/69870358_2292119734220606_3065571433376645120_n.jpg");
}
.wrap-effect-3 .item:last-of-type {
  background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/01/dscn1325.jpg?w=1024");
}


.wrap-effect-4 .item:hover {
    animation: rotate 0.7s ease-in-out both;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .wrap-effect-4 .item:first-of-type {
    background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/01/dscn1325.jpg?w=1024");
  }
  .wrap-effect-4 .item:nth-of-type(2) {
    background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/01/dscn1321.jpg?w=1024");
  }
  .wrap-effect-4 .item:nth-of-type(3) {
    background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/01/dscn1304.jpg?w=1024");
  }
  .wrap-effect-4 .item:nth-of-type(4) {
    background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/01/dscn1175.jpg?w=1024");
  }
  .wrap-effect-4 .item:last-of-type {
    background-image: url("https://ententemulhousehandball.files.wordpress.com/2020/05/article-05-mai-2020.png");
  }

.inspire {
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.inspire:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.inspire:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

