@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body
{
    background-color: #ffce54;


}

.container {
    background-color: #FFFFFF;
}


.d-block{
    padding: 5px;
    height: 462px;
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
}

.mainPage
{

    position: relative;
    text-align: center;

}

main
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.link,li
{


    text-align: right;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline;

}
article
{
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;

}

.page-footer{
    background-color: #212529;
    text-align: center;
}

.bg-co {
    background-color: #ffce54;
    padding: 0;
    margin: 0;

}
.boxSha {
    box-shadow: #212529 0 0 25px -2px;
}

.btn_personaliser {
    background-color: #ffce54;
    height: 100%;
    color: white;
}

h4 {
    color: #ffce54;
}
