@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
.mainbody
{
    background-color: #e0e0e0;
    background: linear-gradient(to right, #ffce54 10%, #FFFFFF 10%, #FFFFFF 90%, #ffce54 90%);

}

.d-block{
    padding: 5px;
    height: 462px;
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
}

.mainPage
{

    position: relative;
    text-align: center;

}
main
{
    <!-- -->
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.link,li
{


    text-align: right;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline;

}
article
{
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: row;

}
.actu
{
    padding: 50px;
    position: relative;
    overflow: hidden;

}
.page-footer{
    margin-top: 20px;
    clear:both;
    background-color: black;
    color: #DDDDDD;
    padding: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}
