@charset "utf-8";

.mainbody
{
    background-color: #e6e9ed;

}
.d-block{
    padding: 5px;
    height: 462px;
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
}

.mainPage
{

    position: relative;
    text-align: center;
}
main
{

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    position: relative;
    text-align: center;
    border-bottom:10px solid white;
    overflow: hidden;
}
.link,li
{


    text-align: right;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline;

}
.actu
{

    position: relative;
    float: left;
    padding-left:5%;
    padding-right:5%;
    overflow: hidden;
    
}
.page-footer{
    clear:both;
    background-color: black;
    color: #DDDDDD;
    padding: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
}
