@charset "utf-8";

  .credit {

    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
  }
  .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(90% - 100px);

    height: 400px;
  }
  @media screen and (max-width: 718px) {
    .options {
      min-width: 520px;
    }
    .options .option:nth-child(5) {
      display: none;
    }
  }
  @media screen and (max-width: 638px) {
    .options {
      min-width: 440px;
    }
    .options .option:nth-child(4) {
      display: none;
    }
  }
  @media screen and (max-width: 558px) {
    .options {
      min-width: 360px;
    }
    .options .option:nth-child(3) {
      display: none;
    }
  }
  @media screen and (max-width: 478px) {
    .options {
      min-width: 280px;
    }
    .options .option:nth-child(2) {
      display: none;
    }
  }
  .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    display: inline-block;
  }
  .options .option:nth-child(1) {
    --defaultBackground: #ed5565;
  }
  .options .option:nth-child(2) {
    --defaultBackground: #fc6e51;
  }
  .options .option:nth-child(3) {
    --defaultBackground: #ffce54;
  }
  .options .option:nth-child(4) {
    --defaultBackground: #2ecc71;
  }
  .options .option:nth-child(5) {
    --defaultBackground: #5d9cec;
  }
  .options .option:nth-child(6) {
    --defaultBackground: #ac92ec;
  }
  .options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
    /*&:active {
       transform:scale(0.9);
    }*/
  }
  .options .option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  .options .option.active .label {
    bottom: 20px;
    left: 20px;
  }
  .options .option.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  .options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  .options .option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  .options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  .options .option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
  }
  .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
  }
  .options .option .label .info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  }
  .options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .options .option .label .info .sub {
    transition-delay: 0.1s;
  }

  .fas {
    color: black;
  }





  
  @import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    color: #000;
  }
  
  li {
    list-style: none;
  }
  
  input,
  button,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
  }
  
  input[type=button],
  button {
    cursor: pointer;
  }
  
  .section-wrap {
    padding: 3%;
  }
  
  .wrapper {
    max-width: 960px;
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
  }
  
  .header {
    text-align: center;
  }
  .header .title {
    position: relative;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #233567;
  }
  
  .footer {
    text-align: center;
    color: #233567;
    font-size: 20px;
  }
  
  .slider-wrap {
    width: 100%;
    height: 300px;
    background: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  .slider-wrap .slider {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .slider-wrap .slider .index {
    width: 50px;
    height: 100%;
    color: #fff;
    font-weight: bold;
    border: 1px solid #233567;
    background: #315b96;
    border-radius: 25px;
  }
  .slider-wrap .slider .index span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  .slider-wrap .slider .img {
    display: inline-flex ;
    justify-content: center;
    align-items: center;
    color: #233567;
    font-weight: bold;
    width: calc(100% - 50px);
    border-radius: 25px;
    background: #9fe9c0;
    transition: width 0.7s;
    margin-right: 15em;
    text-align: center;
    
  }
  .slider-wrap .slider.current {
    width: 100%;
  }
  .slider-wrap .slider.current .img {
    width: calc(100% - 50px);
  }