


        <footer>
            <section >
                <h3> Contactez-nous</h3>
                <p>Entente Mulhousienne Handball</p>
                <p>Gymnase rue du fil</p>
                <p>134 Avenue Aristide Briand, 68200 Mulhouse</p>
                <p >06.62.49.98.73 / 06.67.34.63.33</p>
                <p>5668057@ffhandball.net</p>
            </section>
            <section>

               <p> Copyright Entente Mulhousienne Handball – Tous droits réservés<p>
            </section>

        </footer>