<footer class="row">
    <section class="col-4 mt-5 text-white" >
        <h4> Contactez-nous</h4>
        <p >06.62.49.98.73 / 06.67.34.63.33</p>
        <p>5668057@ffhandball.net</p>
    </section>
    <section class="col-4 mt-5 text-white" >
        <h4> Adresse</h4>
        <p>134 Avenue Aristide Briand, 68200 Mulhouse</p>
    </section>
    <section class="col-4 mt-5 text-white" >
        <h4> A savoir</h4>
        <p>Entente Mulhousienne Handball</p>
        <p>Gymnase rue du fil</p>
    </section>
    <section class="col-12 m-0 p-0" >
        <p class="bg-co text-black"> Copyright Entente Mulhousienne Handball – Tous droits réservés<p>
    </section>
</footer>     