<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('club') }}">Club</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Équipes
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Compétitions</a>
      </li>
      <div class="col-12"></div>
      <div class="col-3"></div>
      <li class="nav-item">
        <a class="nav-link" href="">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">S'inscrire</a>
      </li>
    </ul>

  </div>
</nav>
 </div>

 